include ../mixins/mixin

block variables
    - var title = "layout"
    - var body_class = "layout-page"
    - var lang = 'en'

doctype
html(lang= lang)
    head
        title #{title}
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="description" content="Template")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0")

        //- Style css
        link(href="/stylesheets/style.css", rel="stylesheet")

        //- Bootstrap
        link(href="/vendors/bower_components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")

        //- Icons
        link(href="/vendors/boxicons/css/boxicons.min.css", rel="stylesheet")
        link(href="/vendors/icofont/icofont.min.css", rel="stylesheet")
        link(href="/vendors/bootstrap-icons/bootstrap-icons.css", rel="stylesheet")

        //- Slick
        link(href="/vendors/bower_components/slick-carousel/slick/slick-theme.css", rel="stylesheet")
        link(href="/vendors/bower_components/slick-carousel/slick/slick.css", rel="stylesheet")

        //- Datetimepicker
        link(href="/vendors/datetimepicker/jquery.datetimepicker.min.css", rel="stylesheet")

        //- Glightbox
        link(href="/vendors/glightbox/css/glightbox.min.css", rel="stylesheet")

        //- Fonts
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet")
        //- 'Nunito Sans', sans-serif;
        link(href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet")
        //- Quicksand, font-family: 'Quicksand', sans-serif;
        link(href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet")
        //- Monsterrat, font-family: 'Montserrat', sans-serif;
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet")
        //- 'Open Sans', sans-serif;
        link(href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet")
        
    body(class= body_class)
        include ../sections/header
        include ../sections/main-sidebar

        main.main(role="main")
            block content

        //- Jquery
        script(src="/vendors/bower_components/jquery/dist/jquery.min.js")
        script(src="/vendors/bower_components/bootstrap/dist/js/bootstrap.bundle.min.js")

        //- Slick Slider
        script(src="/vendors/bower_components/slick-carousel/slick/slick.min.js")

        //- Datetimepicker
        script(src="/vendors/datetimepicker/jquery.datetimepicker.full.min.js")

        //- Glightbox
        script(src="/vendors/glightbox/js/glightbox.min.js")

        //- Isotope
        script(src="/vendors/isotope-layout/isotope.pkgd.min.js")

        //- Main JS
        script(src="/javascripts/main.js")
        
    block scripts    
        