#content.site-content 
    #primary.content.content-area
        .layout-social
            .container-fluid
                .row 
                    .col-8.col-main.px-4
                        include ./activity
                    .col-4.px-0
                        include ./notification