section#department-info 
    .page-content
        .container
            .row
                .col-12
                    //-BREADCRUMB
                    nav(aria-label='breadcrumb')
                        ol.breadcrumb
                            li.breadcrumb-item
                                i.bx.bxs-home-circle
                                a(href='/') TRANG CHỦ
                            li.breadcrumb-item.active(aria-current='page') PHÒNG BAN
                    .section-wrapper
                        .section-title
                            h4 Danh sách phòng ban
                        .page-content-box
                            .row 
                                .col-12.col-sm-6.col-md-4.col-lg-3
                                    .department-sub
                                        a(href="/thongbao") 
                                            img(src="/assets/images/department/logo.png", alt="Logo")
                                            .text
                                                p.unitname Phòng CTHSSV
                                            .notification 
                                                span 20
                                            .department-sub-info
                                                a(href="/thongbao").text-block Phòng CTHSSV
                                .col-12.col-sm-6.col-md-4.col-lg-3
                                    .department-sub 
                                        a(href="/thongbao") 
                                            img(src="/assets/images/department/logo.png", alt="Logo")
                                            .text
                                                p.unitname Phòng đại học
                                            .notification 
                                                span 20
                                            .department-sub-info
                                                a(href="/thongbao").text-block Phòng đại học
                                .col-12.col-sm-6.col-md-4.col-lg-3
                                    .department-sub
                                        a(href="/thongbao") 
                                            img(src="/assets/images/department/logo.png", alt="Logo")
                                            .text
                                                p.unitname Phòng sau đại học
                                            .notification 
                                                span 20
                                            .department-sub-info
                                                a(href="/thongbao").text-block Phòng sau đại học
                                .col-12.col-sm-6.col-md-4.col-lg-3
                                    .department-sub 
                                        a(href="/thongbao") 
                                            img(src="assets/images/department/logo.png", alt="Logo")
                                            .text
                                                p.unitname Phòng điện toán và máy tính 
                                            .notification 
                                                span 20
                                            .department-sub-info
                                                a(href="/thongbao").text-block Phòng điện toán và máy tính 
                                .col-12.col-sm-6.col-md-4.col-lg-3
                                    .department-sub 
                                        a(href="/thongbao") 
                                            img(src="/assets/images/department/logo.png", alt="Logo")
                                            .text
                                                p.unitname Phòng tài chính
                                            .notification 
                                                span 20
                                            .department-sub-info
                                                a(href="/thongbao").text-block Phòng tài chính
                                .col-12.col-sm-6.col-md-4.col-lg-3
                                    .department-sub
                                        a(href="/thongbao") 
                                            img(src="/assets/images/department/logo.png", alt="Logo")
                                            .text
                                                p.unitname TDT Creative Language Center
                                            .notification 
                                                span 20
                                            .department-sub-info
                                                a(href="/thongbao").text-block TDT Creative Language Center
                                .col-12.col-sm-6.col-md-4.col-lg-3
                                    .department-sub
                                        a(href="/thongbao")
                                            img(src="/assets/images/department/logo.png", alt="Logo")
                                            .text
                                                p.unitname Trung tâm tin học
                                            .notification 
                                                span 20
                                            .department-sub-info
                                                a(href="/thongbao").text-block Trung tâm tin học
                                .col-12.col-sm-6.col-md-4.col-lg-3
                                    .department-sub 
                                        a(href="/thongbao")
                                            img(src="assets/images/department/logo.png", alt="Logo")
                                            .text
                                                p.unitname Trung tâm đào tạo và phát triển xã hội (SDTC)
                                            .notification 
                                                span 20
                                            .department-sub-info
                                                a(href="/thongbao").text-block Trung tâm đào tạo và phát triển xã hội (SDTC)
                                .col-12.col-sm-6.col-md-4.col-lg-3
                                    .department-sub
                                        a(href="/thongbao") 
                                            img(src="/assets/images/department/logo.png", alt="Logo")
                                            .text
                                                p.unitname Trung tâm phát triển Khoa học quản lý và Ứng dụng công nghệ (ATEM)
                                            .notification 
                                                span 20
                                            .department-sub-info
                                                a(href="/thongbao").text-block Trung tâm phát triển Khoa học quản lý và Ứng dụng công nghệ (ATEM)
                                .col-12.col-sm-6.col-md-4.col-lg-3
                                    .department-sub 
                                        a(href="/thongbao") 
                                            img(src="/assets/images/department/logo.png", alt="Logo")
                                            .text
                                                p.unitname Trung tâm hợp tác doanh nghiệp và cựu sinh viên
                                            .notification 
                                                span 20
                                            .department-sub-info
                                                a(href="/thongbao").text-block Trung tâm hợp tác doanh nghiệp và cựu sinh viên
                                .col-12.col-sm-6.col-md-4.col-lg-3
                                    .department-sub 
                                        a(href="/thongbao") 
                                            img(src="/assets/images/department/logo.png", alt="Logo")
                                            .text
                                                p.unitname Khoa luật
                                            .notification 
                                                span 20
                                            .department-sub-info
                                                a(href="/thongbao").text-block Khoa luật