.overlay
header#header.flex
    #navigation-menu
        i.bx.bx-menu
    ul.d-flex.align-items-center.h-100
        li.background-hover-grey
            .d-flex.align-items-center.h-100
                .profile-avatar
                    a(href="/trangcanhan")
                        img(src="/assets/images/user.jpg", alt="User")
                span Lê Hoàng Phúc
                i.icofont-caret-down
            ul.dropdown-info
                li
                    a(href="/trangcanhan").background-hover-grey
                        i.bx.bx-window-alt
                        span Trang cá nhân
                li
                    a(href="/login").background-hover-grey
                        i.i.bx.bx-exit
                        span Đăng xuất  
        li
            a(href="/").text-hover-purple Trang chủ 
            
