#content.site-content 
    #primary.content.content-area
        .layout-social
            .container-fluid
                .row 
                    .col-12.col-xl-8.col-main
                        include ./activity
                    .col-12.col-xl-4.px-3.px-xl-0
                        include ./notification