section#list-notification-info 
    .page-content
        .container
            .row
                .col-12
                    nav(aria-label='breadcrumb')
                        ol.breadcrumb
                            li.breadcrumb-item
                                i.bx.bxs-home-circle
                                a(href='/') TRANG CHỦ
                            li.breadcrumb-item
                                a(href='/phongban') PHÒNG BAN
                            li.breadcrumb-item.active(aria-current='page') TẤT CẢ (CÓ THỂ THAY ĐỔI THEO PHÒNG BAN)
                    .section-wrapper
                        .section-title
                            h4 Danh sách thông báo
                        .page-content-box
                            .pagination.pagination-top
                                .pagination-box
                                    button.btn-prev.background-hover-darkgrey(type="button") PREV 
                                    button.page-number.background-hover-darkgrey(type="button").active 1 
                                    button.page-number.background-hover-darkgrey(type="button") 2 
                                    button.page-number.background-hover-darkgrey(type="button") 3 
                                    button.page-number.background-hover-darkgrey(type="button") 4 
                                    button.btn-next.background-hover-darkgrey(type="button") NEXT 
                            ul.list-item
                                li.item 
                                    h4.title
                                        a(href="/chitietthongbao").text-hover-purple Thông báo về thời gian triển khai lấy kết quả khảo sát "Sự hài lòng của người học đối với chất lượng tiếp thu bài giảng” (HK2 và HK DT2 năm học 2020 - 2021) - Trước thi
                                        img.small-img(src="/assets/images/icons/star.png", alt="Star")
                                        img.small-img(src="/assets/images/icons/new.png", alt="New")

                                    p.desc Thông báo về thời gian triển khai lấy kết quả khảo sát "Sự hài lòng của người học đối với chất lượng tiếp thu bài giảng” (HK2 và HK DT2 năm học 2020 - 2021) - Trước thi
                                    .d-flex.align-items-between.flex-wrap
                                        a(href="/chitietthongbao").notification-detail-link Chi tiết thông báo
                                        span.meta-info.ml-auto
                                            span.khoa-phong Phòng Đại học
                                            span &nbsp
                                            span |
                                            span &nbsp
                                            span Ngày đăng:
                                            span &nbsp
                                            span 03/04/2021
                                li.item 
                                    h4.title
                                        a(href="/chitietthongbao").text-hover-purple Thông báo về thời gian triển khai lấy kết quả khảo sát "Sự hài lòng của người học đối với chất lượng tiếp thu bài giảng” (HK2 và HK DT2 năm học 2020 - 2021) - Trước thi
                                        img.small-img(src="/assets/images/icons/star.png", alt="Star")
                                        img.small-img(src="/assets/images/icons/new.png", alt="New")

                                    p.desc Thông báo về thời gian triển khai lấy kết quả khảo sát "Sự hài lòng của người học đối với chất lượng tiếp thu bài giảng” (HK2 và HK DT2 năm học 2020 - 2021) - Trước thi
                                    .d-flex.align-items-between.flex-wrap
                                        a(href="/chitietthongbao").notification-detail-link Chi tiết thông báo
                                        span.meta-info.ml-auto
                                            span.khoa-phong Phòng Đại học
                                            span &nbsp
                                            span |
                                            span &nbsp
                                            span Ngày đăng:
                                            span &nbsp
                                            span 03/04/2021
                                li.item 
                                    h4.title
                                        a(href="/chitietthongbao").text-hover-purple Thông báo về thời gian triển khai lấy kết quả khảo sát "Sự hài lòng của người học đối với chất lượng tiếp thu bài giảng” (HK2 và HK DT2 năm học 2020 - 2021) - Trước thi
                                        img.small-img(src="/assets/images/icons/star.png", alt="Star")
                                        img.small-img(src="/assets/images/icons/new.png", alt="New")

                                    p.desc Thông báo về thời gian triển khai lấy kết quả khảo sát "Sự hài lòng của người học đối với chất lượng tiếp thu bài giảng” (HK2 và HK DT2 năm học 2020 - 2021) - Trước thi
                                    .d-flex.align-items-between.flex-wrap
                                        a(href="/chitietthongbao").notification-detail-link Chi tiết thông báo
                                        span.meta-info.ml-auto
                                            span.khoa-phong Phòng Đại học
                                            span &nbsp
                                            span |
                                            span &nbsp
                                            span Ngày đăng:
                                            span &nbsp
                                            span 03/04/2021
                                li.item 
                                    h4.title
                                        a(href="/chitietthongbao").text-hover-purple Thông báo về thời gian triển khai lấy kết quả khảo sát "Sự hài lòng của người học đối với chất lượng tiếp thu bài giảng” (HK2 và HK DT2 năm học 2020 - 2021) - Trước thi
                                        img.small-img(src="/assets/images/icons/star.png", alt="Star")
                                        img.small-img(src="/assets/images/icons/new.png", alt="New")

                                    p.desc Thông báo về thời gian triển khai lấy kết quả khảo sát "Sự hài lòng của người học đối với chất lượng tiếp thu bài giảng” (HK2 và HK DT2 năm học 2020 - 2021) - Trước thi
                                    .d-flex.align-items-between.flex-wrap
                                        a(href="/chitietthongbao").notification-detail-link Chi tiết thông báo
                                        span.meta-info.ml-auto
                                            span.khoa-phong Phòng Đại học
                                            span &nbsp
                                            span |
                                            span &nbsp
                                            span Ngày đăng:
                                            span &nbsp
                                            span 03/04/2021
                            .pagination.pagination-top
                                .pagination-box
                                    button.btn-prev.background-hover-darkgrey(type="button") PREV 
                                    button.page-number.background-hover-darkgrey(type="button").active 1 
                                    button.page-number.background-hover-darkgrey(type="button") 2 
                                    button.page-number.background-hover-darkgrey(type="button") 3 
                                    button.page-number.background-hover-darkgrey(type="button") 4 
                                    button.btn-next.background-hover-darkgrey(type="button") NEXT 