#notification.p-fixed.d-none.d-lg-block
    aside.notification-area
        h5.title.d-flex.justify-content-between.align-items-end.text-uppercase Thông báo mới
            a(href="#").text-normal Xem tất cả
        ul.list-notification
            li.noti
                .noti-wrapper
                    span.chat-date-time.font-italic [Trung tâm tin học] - 02/04/2021
                    a(href="/chitietthongbao").link.d-block.text-hover-purple
                        span [MOS_ÔN] Thông báo mở lớp ôn và thi chứng chỉ quốc tế MOS 2016 đợt tháng 04/2021
                    p.desc [MOS_ÔN] Thông báo mở lớp ôn và thi chứng chỉ quốc tế MOS 2016 đợt tháng 04/2021
            li.noti
                .noti-wrapper
                    span.chat-date-time.font-italic [Trung tâm tin học] - 02/04/2021
                    a(href="/chitietthongbao").link.d-block.text-hover-purple
                        span [MOS_ÔN] Thông báo mở lớp ôn và thi chứng chỉ quốc tế MOS 2016 đợt tháng 04/2021
                    p.desc [MOS_ÔN] Thông báo mở lớp ôn và thi chứng chỉ quốc tế MOS 2016 đợt tháng 04/202
            li.noti
                .noti-wrapper
                    span.chat-date-time.font-italic [Trung tâm tin học] - 02/04/2021
                    a(href="/chitietthongbao").link.d-block.text-hover-purple
                        span [MOS_ÔN] Thông báo mở lớp ôn và thi chứng chỉ quốc tế MOS 2016 đợt tháng 04/2021
                    p.desc [MOS_ÔN] Thông báo mở lớp ôn và thi chứng chỉ quốc tế MOS 2016 đợt tháng 04/202
            li.noti
                .noti-wrapper
                    span.chat-date-time.font-italic [Trung tâm tin học] - 02/04/2021
                    a(href="/chitietthongbao").link.d-block.text-hover-purple
                        span [MOS_ÔN] Thông báo mở lớp ôn và thi chứng chỉ quốc tế MOS 2016 đợt tháng 04/2021
                    p.desc [MOS_ÔN] Thông báo mở lớp ôn và thi chứng chỉ quốc tế MOS 2016 đợt tháng 04/202
            li.noti
                .noti-wrapper
                    span.chat-date-time.font-italic [Trung tâm tin học] - 02/04/2021
                    a(href="/chitietthongbao").link.d-block.text-hover-purple
                        span [MOS_ÔN] Thông báo mở lớp ôn và thi chứng chỉ quốc tế MOS 2016 đợt tháng 04/2021
                    p.desc [MOS_ÔN] Thông báo mở lớp ôn và thi chứng chỉ quốc tế MOS 2016 đợt tháng 04/202
        .table-datetime.text-center
            input#datetimepicker(type="text")