section#notification-details-info
    .page-content
        .container
            .row
                .col-12
                    //-BREADCRUMB
                    nav(aria-label='breadcrumb')
                        ol.breadcrumb
                            li.breadcrumb-item
                                i.bx.bxs-home-circle
                                a(href='/') TRANG CHỦ
                            li.breadcrumb-item
                                a(href='/thongbao') DANH SÁCH THÔNG BÁO
                            li.breadcrumb-item.active(aria-current='page') CHI TIẾT THÔNG BÁO
                    .section-wrapper
                        h2.title.text-center Cuộc thi GameUIT Hackathon lần VI - năm 2021 do khoa CNPM - ĐH CNTT (ĐHQG-TP.HCM) đăng cai
                        .article
                            .article-owner.text-right
                                i.date-time
                                    span Phòng Công tác học sinh sinh viên (CTHSSV) | Ngày đăng    
                                    span 16/05/2021
                            .article-content
                                p Thân gửi các Anh/Chị sinh viên, Phòng Công tác học sinh - sinh viên thân gửi Anh/Chị thông tin và tiêu chí xét học bổng LOTTE năm 2021, cụ thể như sau:
                                p 1. Số lượng học bổng: 05 suất;
                                p 2. Đối tượng: Đang là sinh viên năm thứ 3 hoặc năm thứ 4 của Trường (hoặc sinh viên năm thứ 5 đối với ngành đào tạo 5 năm);
                                p 3. Điểm trung bình tích lũy tính đến thời điểm hiện tại: ≥ 7.5;
                                p 4. Điểm trung bình học tập học kỳ 1, năm học 2020 - 2021: ≥ 7.5;
                                p 5. Sinh viên thuộc hộ nghèo, hộ cận nghèo hoặc có hoàn cảnh khó khăn (có xác nhận của cơ quan chức năng);
                                p 6. Trong quá trình xét chọn, sinh viên không tham gia chương trình học bổng nào khác.
                                p Các Anh/Chị sinh viên đáp ứng đủ các tiêu chí nêu trên, vui lòng nộp hồ sơ bản scan qua email Phòng Công tác học sinh - sinh viên: phongctct-hssv@tdtu.edu.vn từ ngày ra thông báo đến hết ngày 26/02/2021, hồ sơ bao gồm:
                                p 1. Ghi rõ tiêu đề email: Nộp hồ sơ xét học bổng Lotte 2021;
                                p 2. Trong phần nội dung email, cung cấp đầy đủ thông tin cá nhân bao gồm: họ tên, MSSV, lớp, khoa, sinh viên năm, khóa học và ghi rõ điểm trung bình học tập tích lũy và điểm trung bình học tập học kỳ 1, năm học 2020 - 2021;
                                p 3. File scan bản photocopy công chứng minh chứng sinh viên thuộc hộ nghèo, hộ cận nghèo hoặc có hoàn cảnh khó khăn.
                                p 4. 01 tấm ảnh 3x4 chuẩn quốc tế.
                                p.text-right Trân trọng./.