section#posts
    //------------------------
    //- POST 1
    .post-item
        .post-header.d-flex.align-items-center
            .profile-avatar
                a(href="/trangcanhan")
                    img(src="/assets/images/user.jpg", alt="User")
            .post-meta.d-flex.flex-column
                a(href="/trangcanhan").text-hover-purple Lê Hoàng Phúc
                span 10 months, 1 week ago
            .dots-icon.ml-auto
                .dots.text-right
                    i.bx.bx-dots-horizontal-rounded
                ul.actions
                    li
                        a(href="#").text-hover-purple
                            i.bx.bx-trash
                            span Chuyển vào thùng rác
                    li 
                        a(href="#").text-hover-purple
                            i.bx.bx-edit-alt
                            span Chỉnh sửa bài viết
        .post-inner
            .post-inner-text
                span At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in cul
            .image
                a.image-lightbox(href="/assets/images/KKK_7527.jpg" data-gallery="imageGallery")
                    img(src="/assets/images/KKK_7527.jpg", alt="User")
        .comment-area.mt-3
            .comment-header
                .d-flex.align-items-center
                    span
                        img(src="/assets/images/icons/01.png", alt="Icon")              
                    .total-like
                        span.likes 140
                        span &nbsp
                        span Lượt thích
                    a(href="#").total-comment.ml-auto
                        span.comment-count 200
                        span &nbsp
                        span Bình luận
                .btn-wrapper.d-flex.align-items-center.justify-content-around.hideDiv
                    .btn.btn-like-post 
                        .icons-meta
                            a(href="#")
                                i.bx.bx-like
                                span Thích
                            .icon-menu.d-flex
                                a.like(href="#", title="Like") 
                                    img(src="/assets/images/icons/01.png", alt="Icon Like")
                                    span.tooltiptext Like
                                a.love(href="#", title="Love") 
                                    img(src="/assets/images/icons/02.png", alt="Icon Love")
                                    span.tooltiptext Thả tim
                                a.lovely(href="#", title="Lovely") 
                                    img(src="/assets/images/icons/07.png", alt="Icon Lovely")
                                    span.tooltiptext Thương thương
                                a.think(href="#", title="Think") 
                                    img(src="/assets/images/icons/05.png", alt="Icon Think")
                                    span.tooltiptext Suy ngẫm 
                                a.sad(href="#", title="Sad") 
                                    img(src="/assets/images/icons/06.png", alt="Icon Sad")
                                    span.tooltiptext Buồn
                                a.haha(href="#", title="Haha") 
                                    img(src="/assets/images/icons/04.png", alt="Icon Haha")
                                    span.tooltiptext Haha
                                a.rage(href="#", title="Rage", style="width: 28px") 
                                    img(src="/assets/images/icons/08.png", alt="Icon Rage")
                                    span.tooltiptext Phẫn nộ
                    .btn.btn-comment-post 
                        a(href="#")
                            i.bx.bx-comment
                            span Bình luận
            .comments.hideDiv
                ul 
                    li
                        .acomment.d-flex
                            .acomment-avatar.profile-avatar
                                a(href="/trangcanhan")
                                    img(src="/assets/images/user.jpg", alt="User")
                            .d-flex.flex-column
                                .acomment-info.d-flex.flex-column
                                    .acomment-meta
                                        a(href="/trangcanhan").text-hover-purple Lê Hoàng Phúc
                                    .acomment-content
                                        span At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in cul    
                                    .dots-icon.dots-icon_comment
                                        .dots.text-right
                                            i.bx.bx-dots-horizontal-rounded
                                        ul.actions
                                            li
                                                a(href="#").text-hover-purple
                                                    i.bx.bx-trash
                                                    span Xóa
                                            li 
                                                a(href="#").text-hover-purple
                                                    i.bx.bx-edit-alt
                                                    span Chỉnh sửa
                                .actions.d-flex
                                    button(type="button").btn-like.text-hover-purple Thích 
                                        span ·
                                    span 5 giờ
                                .your-reply.sub.closeDiv
                                    .d-flex.align-items-center
                                        .profile-avatar
                                            a(href="/trangcanhan")
                                                img(src="/assets/images/user.jpg", alt="User")
                                        .post-reply-content
                                            form
                                                textarea.form-control(placeholder="Viết bình luận...")
                                                button.btn(type="submit") Đăng
                ul 
                    li
                        .acomment.d-flex
                            .acomment-avatar.profile-avatar
                                a(href="/trangcanhan")
                                    img(src="/assets/images/user.jpg", alt="User")
                            .d-flex.flex-column
                                .acomment-info.d-flex.flex-column
                                    .acomment-meta
                                        a(href="/trangcanhan").text-hover-purple Lê Hoàng Phúc
                                    .acomment-content
                                        span At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in cul               
                                    .dots-icon.dots-icon_comment
                                        .dots.text-right
                                            i.bx.bx-dots-horizontal-rounded
                                        ul.actions
                                            li
                                                a(href="#").text-hover-purple
                                                    i.bx.bx-trash
                                                    span Xóa
                                            li 
                                                a(href="#").text-hover-purple
                                                    i.bx.bx-edit-alt
                                                    span Chỉnh sửa       
                                .actions.d-flex
                                    button(type="button").btn-like.text-hover-purple Thích 
                                        span ·
                                    span 5 giờ
            .your-reply.hideDiv
                .d-flex.align-items-center
                    .profile-avatar
                        a(href="/trangcanhan")
                            img(src="/assets/images/user.jpg", alt="User")
                    .post-reply-content
                        form
                            textarea.form-control.padding-right-80(placeholder="Viết bình luận...")
                            button.btn(type="submit") Đăng

    //- POST 2
    .post-item
        .post-header.d-flex.align-items-center
            .profile-avatar
                a(href="/trangcanhan")
                    img(src="/assets/images/user.jpg", alt="User")
            .post-meta.d-flex.flex-column
                a(href="/trangcanhan").text-hover-purple Lê Hoàng Phúc
                span 10 months, 1 week ago
            .dots-icon.ml-auto
                .dots.text-right
                    i.bx.bx-dots-horizontal-rounded
                ul.actions
                    li
                        a(href="#").text-hover-purple
                            i.bx.bx-trash
                            span Chuyển vào thùng rác
                    li 
                        a(href="#").text-hover-purple
                            i.bx.bx-edit-alt
                            span Chỉnh sửa bài viết
        .post-inner
            .post-inner-text
                span At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in cul
            .isotope-container
                .isotope-item
                    .image
                        a.d-block.image-lightbox(href="/assets/images/KKK_7527.jpg" data-gallery="portfolioGallery" title="Image Status")
                            img(src="/assets/images/KKK_7527.jpg", alt="Image Status" )
                .isotope-item
                    .image
                        a.d-block.image-lightbox(href="/assets/images/personal/1.jpg" data-gallery="portfolioGallery" title="Image Status")
                            img(src="/assets/images/personal/1.jpg", alt="Image Status" )
                .isotope-item
                    .image
                        a.d-block.image-lightbox(href="/assets/images/personal/2.jpg" data-gallery="portfolioGallery" title="Image Status")
                            img(src="/assets/images/personal/2.jpg", alt="Image Status" )
                .isotope-item
                    .image
                        a.d-block.image-lightbox(href="/assets/images/personal/3.jpg" data-gallery="portfolioGallery" title="Image Status")
                            img(src="/assets/images/personal/3.jpg", alt="Image Status" )
                .isotope-item
                    .image
                        a.d-block.image-lightbox(href="/assets/images/personal/2.jpg" data-gallery="portfolioGallery" title="Image Status")
                            img(src="/assets/images/personal/2.jpg", alt="Image Status" )
                .isotope-item
                    .image
                        a.d-block.image-lightbox(href="/assets/images/personal/2.jpg" data-gallery="portfolioGallery" title="Image Status")
                            img(src="/assets/images/personal/2.jpg", alt="Image Status" )
        .comment-area.mt-3
            .comment-header
                .d-flex.align-items-center
                    span
                        img(src="/assets/images/icons/01.png", alt="Icon")              
                    .total-like
                        span.likes 140
                        span &nbsp
                        span Lượt thích
                    a(href="#").total-comment.ml-auto
                        span.comment-count 200
                        span &nbsp
                        span Bình luận
                .btn-wrapper.d-flex.align-items-center.justify-content-around.hideDiv
                    .btn.btn-like-post 
                        .icons-meta
                            a(href="#")
                                i.bx.bx-like
                                span Thích
                            .icon-menu.d-flex
                                a.like(href="#", title="Like") 
                                    img(src="/assets/images/icons/01.png", alt="Icon Like")
                                    span.tooltiptext Like
                                a.love(href="#", title="Love") 
                                    img(src="/assets/images/icons/02.png", alt="Icon Love")
                                    span.tooltiptext Thả tim
                                a.lovely(href="#", title="Lovely") 
                                    img(src="/assets/images/icons/07.png", alt="Icon Lovely")
                                    span.tooltiptext Thương thương
                                a.think(href="#", title="Think") 
                                    img(src="/assets/images/icons/05.png", alt="Icon Think")
                                    span.tooltiptext Suy ngẫm 
                                a.sad(href="#", title="Sad") 
                                    img(src="/assets/images/icons/06.png", alt="Icon Sad")
                                    span.tooltiptext Buồn
                                a.haha(href="#", title="Haha") 
                                    img(src="/assets/images/icons/04.png", alt="Icon Haha")
                                    span.tooltiptext Haha
                                a.rage(href="#", title="Rage", style="width: 28px") 
                                    img(src="/assets/images/icons/08.png", alt="Icon Rage")
                                    span.tooltiptext Phẫn nộ
                    .btn.btn-comment-post 
                        a(href="#")
                            i.bx.bx-comment
                            span Bình luận
            .comments.hideDiv
                ul 
                    li
                        .acomment.d-flex
                            .acomment-avatar.profile-avatar
                                a(href="/trangcanhan")
                                    img(src="/assets/images/user.jpg", alt="User")
                            .d-flex.flex-column
                                .acomment-info.d-flex.flex-column
                                    .acomment-meta
                                        a(href="/trangcanhan").text-hover-purple Lê Hoàng Phúc
                                    .acomment-content
                                        span At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in cul    
                                    .dots-icon.dots-icon_comment
                                        .dots.text-right
                                            i.bx.bx-dots-horizontal-rounded
                                        ul.actions
                                            li
                                                a(href="#").text-hover-purple
                                                    i.bx.bx-trash
                                                    span Xóa
                                            li 
                                                a(href="#").text-hover-purple
                                                    i.bx.bx-edit-alt
                                                    span Chỉnh sửa
                                .actions.d-flex
                                    button(type="button").btn-like.text-hover-purple Thích 
                                        span ·
                                    span 5 giờ
                                .your-reply.sub.closeDiv
                                    .d-flex.align-items-center
                                        .profile-avatar
                                            a(href="/trangcanhan")
                                                img(src="/assets/images/user.jpg", alt="User")
                                        .post-reply-content
                                            form
                                                textarea.form-control(placeholder="Viết bình luận...")
                                                button.btn(type="submit") Đăng
                ul 
                    li
                        .acomment.d-flex
                            .acomment-avatar.profile-avatar
                                a(href="/trangcanhan")
                                    img(src="/assets/images/user.jpg", alt="User")
                            .d-flex.flex-column
                                .acomment-info.d-flex.flex-column
                                    .acomment-meta
                                        a(href="/trangcanhan").text-hover-purple Lê Hoàng Phúc
                                    .acomment-content
                                        span At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in cul               
                                    .dots-icon.dots-icon_comment
                                        .dots.text-right
                                            i.bx.bx-dots-horizontal-rounded
                                        ul.actions
                                            li
                                                a(href="#").text-hover-purple
                                                    i.bx.bx-trash
                                                    span Xóa
                                            li 
                                                a(href="#").text-hover-purple
                                                    i.bx.bx-edit-alt
                                                    span Chỉnh sửa       
                                .actions.d-flex
                                    button(type="button").btn-like.text-hover-purple Thích 
                                        span ·
                                    span 5 giờ
            .your-reply.hideDiv
                .d-flex.align-items-center
                    .profile-avatar
                        a(href="/trangcanhan")
                            img(src="/assets/images/user.jpg", alt="User")
                    .post-reply-content
                        form
                            textarea.form-control.padding-right-80(placeholder="Viết bình luận...")
                            button.btn(type="submit") Đăng

    .text-center    
        button.btn.btn-primary.btn-load-more
            span.btn-text Load More
                
                
                
                
