section#register-form-section.d-flex.justify-self-center.align-items-center
    .container
        .row.justify-content-center
            .col-xl-5.col-lg-7.col-md-12
                .form-content
                    h3.title.text-center 
                        img.header-logo(src='/assets/images/logo.png' alt='Logo Brand')
                        p.small-text Social Network
                        p.big-text.text-center Đăng kí
                    form#register-form
                        .form-group.mb-3
                            label(for="name") Họ & tên:
                            input#name.form-control(type="text", name="name", placeholder="Nhập họ tên...")
                        .form-group.mb-3
                            label(for="email") Email:
                            input#email.form-control(type="email", name="email", placeholder="Nhập Email...") 
                        .form-group.mb-3
                            label(for="password") Mật khẩu:
                            input#password.form-control(type="password", name="password", placeholder="Nhập mật khẩu...")
                        .form-group 
                            .alert-error
                        button.btn.background-hover-pink.text-white.w-100.mt-4(type="submit") Đăng kí
                    p.text-center.mb-3 Đã có tài khoản đăng nhập
                        span &nbsp
                        a(href="/login").purple-text tại đây
                    p.lineside Hoặc
                    .social-login
                        a(href="/google").btn.google.d-flex.justify-content-center
                            i.bx.bxl-google-plus-circle