/* === BEGIN VARIABLES SCSS === */
/* =====  Typography  ===== */

$f-size-primary: 15px;
$f-size-secondary: 14px;
$f-size-other: 16px;
$f-size-para-notify: 12px;
$f-size-para-comment: 13px;

$f-primary: 'Nunito Sans', sans-serif;
$f-secondary: 'Quicksand', sans-serif;
$f-other: 'Montserrat', sans-serif;
$f-other-openSans: 'Open Sans', sans-serif;

$purple: #8224e3;
$light-purple: #9c51e9;
$purple-calendar: #eda4ff;

$grey-border: #e7edf2;
$grey: #7b7b7b;
$dark-grey: #383a45;

$gg-bg: #F4511E;

/* =====  Media Query  ===== */
$s-mobile: 576px;
$mobile: 768px;
$tablet: 992px;
$desktop: 1200px;
$desktop-xxl: 1400px;

