extends ./layouts/layout.pug

block variables
    - var title = "Create notification"
    - var body_class = "create-notification-page"

block content
    
    include ./sections/create-notification-section

block scripts