extends ./layouts/layout.pug

block variables
    - var title = "Notification"
    - var body_class = "list-notification-page"

block content
    
    include ./sections/list-notification-info

block scripts