extends ./layouts/layout.pug

block variables
    - var title = "Manage department"
    - var body_class = "manage-department-page"

block content
    
    include ./sections/manage-department-section

block scripts