extends ./layouts/layout.pug

block variables
    - var title = "Manage classes"
    - var body_class = "manage-classes-page"

block content
    
    include ./sections/manage-classes-section

block scripts