extends ./layouts/layout.pug

block variables
    - var title = "Notification Details"
    - var body_class = "notification-details-page"

block content
    
    include ./sections/notification-details-info

block scripts