#manage-department-section, #manage-classes-section{
    .section-wrapper{
        padding: 0px;
        margin-bottom: 20px;
    }
    .title{
        margin-bottom: 25px;
    }
    .table{
        thead{
            th{
                border: 0px;
            }
        }
    }
}